ul {
    list-style: none;
  }

  .AsRedes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 15px;

    bottom: 40px;
    z-index: 999;
  }
  .AsRedes .icon-content {
    margin: 0 10px;
    position: relative;
    border: 1px solid #5e5c5c;
    border-radius: 30px;
    margin: 5px;
  }
  .AsRedes .icon-content .tooltip {
    position: absolute;
    z-index: 10;
          font-family: 'Century-Gothic-Bold';
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .AsRedes .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .AsRedes .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .AsRedes .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .AsRedes .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .AsRedes .icon-content a:hover {
    color: white;
  }
  .AsRedes .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .AsRedes .icon-content a:hover .filled {
    height: 100%;
  }

  .AsRedes .icon-content a[data-social="whatsapp"] .filled,
  .AsRedes .icon-content a[data-social="whatsapp"] ~ .tooltip {
    background-color: #128c7e;
  }

  .AsRedes .icon-content a[data-social="facebook"] .filled,
  .AsRedes .icon-content a[data-social="facebook"] ~ .tooltip {
    background-color: #3b5998;
  }
  .AsRedes .icon-content a[data-social="instagram"] .filled,
  .AsRedes .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .AsRedes .icon-content a[data-social="youtube"] .filled,
  .AsRedes .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }